/*
HTML RESET
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

/* 
MAIN CSS
*/

* {
    font-family: Roboto;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    padding-bottom: 15px;
}

svg {
    height: 1.5rem;
}

div.icon path, div.logoicon path {
    fill: white;
}

.page {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    background-color: #14b8a6;
    height: 100vh;
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
}

.toplinks, .bottomlinks, .logoicon {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 15px;
    margin-left: 20px;
}

.logo {
    height: 3rem;
}

.brand {
    place-self: center;
}

.toplinks, .logoicon {
    margin-bottom: 50px;
}

.logoicon {
    margin-top: 20px;
    align-items: center;
}

.icon {
    place-self: center;
}

.maincontent {
    background-color: #ccfbf1;
}

/*
MAIN BODY */

.mainbody {
    display: grid;
    grid: 1fr / 3fr 1fr;
}

.projects {
    grid-row: 1 / 3;
    padding: 20px 20px;
}

.yourprojects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project {
    background-color: white;
    border-left: 8px solid #0f766e;
    border-radius: 8px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social {
    display: flex;
    justify-content: right;
}

div.social img {
    height: 1.5rem;
    margin: 20px 10px 0px 10px;
}

/*
TOP BAR
*/

.top {
    display: flex;
    padding: 10px 50px;
    justify-content: space-between;
    background-color: white;
}

#search {
    border-style: none;
    border-radius: 1rem;
    background-color: #ccfbf1;
    width: 100%;
    padding: 5px 10px;
}

/*
MENU
*/

.menu {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    box-shadow: 0px 3px 3px lightgray;
}

button {
    background-color: #14b8a6;
    color: white;
    font-weight: 700;
    padding: 0px 30px;
    border-style: none;
    border-radius: 1rem;
}

button:hover {
    cursor: pointer;
}